src/MainProject/MainProject/SampleData/AvailableAssemblies/AvailableAssemblies.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.AvailableAssemblies" targetNamespace="Expression.Blend.SampleData.AvailableAssemblies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AvailableAssemblies" type="tns:AvailableAssemblies" />
  <xs:complexType name="AvailableAssemblies">
    <xs:sequence>
      <xs:element name="AvailableAssemblies1" type="tns:AvailableAssemblies1" />
    </xs:sequence>
    <xs:attribute name="PathToBinaries" type="xs:string" />
    <xs:attribute name="DefaultCulture" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AvailableAssemblies1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AvailableAssemblies1Item" type="tns:AvailableAssemblies1Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailableAssemblies1Item">
    <xs:sequence>
      <xs:element name="Assembly" type="tns:Assembly" />
    </xs:sequence>
    <xs:attribute name="IsMissing" type="xs:boolean" />
    <xs:attribute name="IsSelected" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Assembly">
    <xs:attribute name="AssemblyFile" type="xs:string" />
    <xs:attribute name="DefaultCulture" type="xs:string" />
  </xs:complexType>
</xs:schema>