src/MainProject/MainProject/SampleData/Document/Document.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.Document" targetNamespace="Expression.Blend.SampleData.Document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="tns:Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="Assemblies" type="tns:Assemblies" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="10,8" name="PathToBinaries" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Assemblies">
    <xs:attribute name="Count" type="xs:double" />
  </xs:complexType>
</xs:schema>